body {
  background-color: #F5F8FA;
}

.red {
  color: red;
}

.green {
  color: #19CF86;
}

.image {
  padding-right: 20px;
}

.single-tweet {
  font-family: "Comic Sans MS";
  margin: auto;
  background-color: #FFFFFF;
}

.info-one {
  padding-right: 25px;
}

.info-three {
  padding-left: 25px;
}

.image {
  float: left;
}

.media-photos {
  padding-left: 75px;
  max-width: 80%;
    height: auto;
    width: auto\9;
}

.favorite-bar-two {
  padding-left: 75px;
}

.favorite-bar-three {
  padding-left: 75px;
}

.favorite-bar-four {
  padding-left: 75px;
}
